html {
  /* font-size: 10px; */
  font-size: 75%;
}

p {
  font-size: 1.5rem;
  color: #393e46;
}

* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: #00979f;
}

body {
  background-color: #eeeeee;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

header {
  background-color: #393e46;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
}

main {
  padding: 10rem 0;
}

header h1 {
  color: #eeeeee;
  display: flex;
  justify-content: left;
}

footer p {
  color: #eeeeee;
  padding-left: 1rem;
}

footer {
  background-color: #393e46;
  width: 100%;
}

h1 {
  font-size: 3rem;
  padding-left: 1rem;
}

.header-nav {
  display: flex;
  gap: 0.5rem;
  margin-right: 0.5rem;
}

.menu-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  text-decoration: none;
  color: #00adb5;
  font-size: 1.8rem;
  padding-left: 1rem;
  gap: 0.2rem;
}

.menu-link:hover {
  color: #eeeeee;
}

.menu-link:hover::after {
  content: "";
  height: 3px;
  background-color: #eeeeee;
  animation: underline-link 0.7s linear forwards;
}

@keyframes underline-link {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}

.About-Me {
  font-size: 1.8rem;
}

.C-Me {
  font-size: 1.8rem;
  color: #eeeeee;
  background-color: #222831;
  width: 50rem;
  height: auto;
  border-radius: 0;
  text-align: center;
  padding: 1rem 0;
  line-height: 1.4;
}

.typing-h1 {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid white;
  white-space: nowrap;
  animation:
    typing-h1 1s steps(10),
    blink-caret 1s step-end infinite;
}

@keyframes typing-h1 {
  from {
    width: 0;
  }

  to {
    width: 7ch;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

.Sk-p {
  font-size: 1.8rem;
  color: #eeeeee;
  padding-top: 1rem;
  line-height: 2;
}

.My-p {
  font-size: 1.8rem;
  color: #eeeeee;
  text-align: center;
  background-color: #222831;
  width: 50rem;
  height: auto;
  border-radius: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
  line-height: 2;
}

.devicon-html5-plain {
  font-size: 7rem;
}

.devicon-css3-plain {
  font-size: 7rem;
}

.social-Media {
  text-decoration: none;
  color: #00adb5;
}

.social-Media:hover {
  color: #222831;
  cursor: pointer;
}

.Main-h2 {
  padding: 1rem 0;
  font-size: 2.5rem;
  padding-left: 0.5rem;
  color: #eeeeee;
}

pre {
  padding: 1rem;
  color: #eeeeee;
  line-height: 1.5;
}

i {
  display: block;
  margin-top: 1rem;
}

.HTML-p,
.CSS-p {
  margin: auto;
  color: #eeeeee;
  padding-top: 0.5rem;
}

.HTML5,
.CSS3 {
  margin-top: 1rem;
  padding-bottom: 1.3rem;
  text-align: center;
  width: 15rem;
  height: 19.5rem;
  background-color: #00adb5;
  border-radius: 1rem;
  margin-left: 1.5rem;
}

.HTML5:hover,
.CSS3:hover {
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 1.5rem #00979f;
  border: 2px solid #3bc9db;
}

body:has(.HTML5:hover) .HTML5 img {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

body:has(.CSS3:hover) .CSS3 img {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.Sk-article .HTML-L,
.Sk-article .CSS-L {
  margin-top: 0.5rem;
}

.HTML-L,
.CSS-L {
  padding: 0.3rem;
  width: 85%;
  margin: 0.3rem auto;
  background-color: #393e46;
  color: #eeeeee;
  border-radius: 1rem;
}

.Sk-article {
  display: flex;
  padding-bottom: 1rem;
  overflow: hidden;
}

svg {
  color: #eeeeee;
}

.Github,
.Telegram,
.Email {
  margin-top: 1rem;
  text-align: center;
  width: 6rem;
  height: 6rem;
  background-color: #00adb5;
  border-radius: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}

.Github:hover,
.Telegram:hover,
.Email:hover {
  display: flex;
  align-items: center;
}

.Github-L,
.Tel-L,
.Email-L {
  color: #eeeeee;
  display: none;
  font-size: 1.5rem;
}

body:has(.Email:hover) .Email-L {
  display: block;
  transition: all 0.5s ease-in-out;
  padding-left: 0.7rem;
  animation: show-Social-Label 1s ease-in;
}

body:has(.Email:hover) .Email {
  width: 12rem;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 1.5rem #00979f;
  border: 2px solid #3bc9db;
}

body:has(.Email:hover) .Email img {
  transform: scale(1.08);
  transition: all 0.5s ease-in-out;
  width: 5.5rem;
}

body:has(.Github:hover) .Github-L {
  display: block;
  transition: all 0.5s ease-in-out;
  padding-left: 0.2rem;
  animation: show-Social-Label 1s ease-in;
}

body:has(.Github:hover) .Github {
  width: 12rem;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 1.5rem #00979f;
  border: 2px solid #3bc9db;
}

body:has(.Github:hover) .Github img {
  transform: scale(1.08);
  transition: all 0.5s ease-in-out;
  width: 5.5rem;
}

body:has(.Telegram:hover) .Tel-L {
  display: block;
  transition: all 0.5s ease-in-out;
  padding-left: 0.2rem;
  animation: show-Social-Label 1s ease-in;
}

body:has(.Telegram:hover) .Telegram {
  width: 14rem;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 1.5rem #00979f;
  border: 2px solid #3bc9db;
  padding-right: 2rem;
}

body:has(.Telegram:hover) .Telegram img {
  transform: scale(1.08);
  transition: all 0.5s ease-in-out;
  width: 5.5rem;
}

.Contact {
  display: flex;
}

.Contact-Me p {
  font-size: 2rem;
}

section {
  margin-top: 4rem;
  margin-left: 1.5rem;
  scroll-margin-top: 8rem;
}

.Contact {
  margin-top: 0;
}

@keyframes show-Social-Label {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Portfolio-Projects {
  background-color: #00adb5;
  width: 20rem;
  height: 15rem;
  padding-left: 1rem;
  margin-left: 1.5rem;
  border-radius: 1rem;
}

.Tech {
  width: 4rem;
  height: 2.5rem;
  display: inline-flex;
  color: #222831;
  background-color: #eeeeee66;
  border-radius: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.Tech:hover {
  background-color: #eeeeee;
  transition: all 0.5s ease-in-out;
}

.P-Portfolio {
  padding-top: 1rem;
  font-weight: bold;
  color: #000;
}

.Portfolio-link {
  text-decoration: none;
  display: block;
  margin-top: 2.2rem;
  color: black;
}

.S-Portfolio {
  font-size: 1.5rem;
  color: #393e46;
}

.Portfolio-link:hover {
  color: #eeeeee;
  transition: all 0.2s ease-in-out;
}

.Portfolio-Projects:hover {
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 1.5rem #00979f;
  border: 2px solid #3bc9db;
}

.About-Me-pre {
  background-color: #222831;
  width: 50rem;
  height: auto;
  border-radius: 0 0 1rem 1rem;
  padding-bottom: 1rem;
}

.Contact-m {
  display: flex;
  justify-content: center;
  background-color: #222831;
  width: 50rem;
  height: auto;
  border-radius: 0 0 1rem 1rem;
  padding-bottom: 1rem;
}

.h2-About-Me {
  background-color: #00adb5;
  margin-bottom: 0;
  width: 50rem;
  height: auto;
  border-radius: 1rem 1rem 0 0;
  text-align: center;
}

.Skills-p {
  background-color: #222831;
  width: 50rem;
  height: auto;
  border-radius: 0;
  text-align: center;
}
